<html>
<head>
<title>Width_and_height</title>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer/build/build.css">
</head>
<body>
    <div class="one-fourth column">
  <img class="width-fit bg-gray" src="/images/gravatars/gravatar-user-420.png" alt="width fitted octocat" />
</div>

<div class="d-table width-full">
  <div class="d-table-cell">
    <input class="form-control width-full" type="text" value="Full width form field" aria-label="Sample full width form field">
  </div>
</div>
</body>
</html>
