<html>
<head>
<title>Alignment</title>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer/build/build.css">
<style type="text/css">
    
</style>
<script type="text/javascript">
window.onload=function(){
    
}
</script>
</head>
<body>
    <div class="d-table border border-gray">
  <div class="d-table-cell"><h1>Potatoes</h1></div>
  <div class="d-table-cell v-align-baseline">.v-align-baseline</div>
  <div class="d-table-cell v-align-top">.v-align-top</div>
  <div class="d-table-cell v-align-middle">.v-align-middle</div>
  <div class="d-table-cell v-align-bottom">.v-align-bottom</div>
</div>


<div class="border border-gray">
  <h1 class="mr-1">Potatoes
    <span class="f4 v-align-text-top mr-1">.v-align-text-top</span>
    <span class="f4 v-align-text-bottom mr-1">.v-align-text-bottom</span>
  </h1>
</div>

</body>
</html>
