<html>
<head>
<title>Truncate</title>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer/build/build.css">
<style type="text/css">
    
</style>
<script type="text/javascript">
window.onload=function(){
    
}
</script>
</head>
<body>
    <span class="branch-ref css-truncate css-truncate-target" title="really-long-branch-name">
  really-long-branch-name
</span>
<br />
<span class="css-truncate expandable">
  <span class="branch-ref css-truncate-target">this-is-a-really-long-branch-name</span>
</span>

</body>
</html>
