<html>
<head>
<title>Alerts</title>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer/build/build.css">
<style type="text/css">
    
</style>
<script type="text/javascript">
window.onload=function(){
    
}
</script>
</head>
<body>
    <div class="flash">
  Flash message goes here.
</div>


<div class="flash">
  <p>This is a longer flash message in it's own paragraph. It ends up looking something like this. If we keep adding more text, it'll eventually wrap to a new line.</p>
  <p>And this is another paragraph.</p>
</div>

</body>
</html>
