<html>
<head>
<title>Display</title>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/primer/build/build.css">
<style type="text/css">
    
</style>
<script type="text/javascript">
window.onload=function(){
    
}
</script>
</head>
<body>
    <div class="d-inline border">
  .d-inline
  <div class="d-inline-block border">
    .d-inline-block
  </div>
  <span class="d-block border">.d-block</span>
  <div class="d-table border">
    <div class="d-table-cell border">
      .d-table-cell
    </div>
  </div>
  <div class="d-table-cell border">
    .d-table-cell
  </div>
  <div class="d-none">
    .d-none
  </div>
</div>

</body>
</html>
